/** color **/
.blue {
    color: #0065FC;
}

/* font */
h1, h2, h3, p {
    font-family: 'Raleway';
    font-style: normal;
}

/* body */
body{
    margin: 50px;
}

/* header */
.container_header {
    display: flex;
}
.container_header_left {
    display: flex;
}
#logo_Booki {
    width: 80px;
}
.container_search_bar {
    display: flex;
}
#button_search {
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 20px;
}
.container_filter {
    display: flex;
}
.containeur_header_right {
    display: flex;
}