/* @media screen and (min-width: 1024px) and (max-width: 1440px){ */

/** color **/
.blueBooki {
    color: #0065FC;
}

/* link */
a {
    text-decoration: none
}

/* font */
h1,
h2,
h3,
p,
a,
input,
button,
nav {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    color: black;
}

.title-header-main {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

/* body */
body {
    position: relative;
    min-width: 1024px;
    max-width: 1440px;
    margin: auto;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* flexbox */
.justify-spaceBetween {
    justify-content: space-between;
}

.justify-spaceAround {
    justify-content: space-around;
}

.align-spaceBetween {
    align-content: space-between;
}

.align-spaceAround {
    align-content: space-around;
}

/* list navigation */
.list-nav {
    list-style: none;
    padding: 0px;
}

/* header */
.container-header {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* header left */
.container-header-left {
    padding: 20px;
    padding-top: 40px;
    width: 65%;
}

#logo-Booki {
    width: 60px;
    padding-bottom: 40px;
}

.subtitle-header {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
}

.title-search-bar-filter {
    font-weight: 700;
    font-size: 16px;
}

.container-search-bar {
    padding: 0px;
    height: 45px;
}

.icon-location-search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
    border: none;
    border-radius: 15px 0px 0px 15px;
    width: 45px;
    height: 40px;
}

.input-search-bar {
    float: left;
    border: none;
    padding: 0px;
    height: 45px;
    width: 230px;
    padding-left: 15px;
}

.input-search-bar::placeholder {
    color: black;
}


.button-search-bar {
    background: #0065FC;
    border: none;
    border-radius: 0px 15px 15px 0px;
    color: #FFFFFF;
    height: 45px;
    width: 125px;
    padding: 0px;

}

.container-filter {
    padding: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.margin-filter {
    margin-right: 10px;
}

.button-filter {
    flex: none;
    background: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}

.button-filter:hover {
    background: #DEEBFF;
}

.icon-filter {
    padding-right: 10px;
    font-size: 20px;
    float: left;
}

.inside-filter {
    padding: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.border-icon-info {
    border-radius: 20px;
    border: 1px solid #D9D9D9;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    font-size: 10px;
}

/* header right */
.container-header-right {
    position: relative;
    width: 220px;
}

.navigation-bar {
    margin: 0px;
}

.border-navigation-bar {
    padding-top: 40px;
}

.border-navigation-bar:hover {
    border-top: 3px solid #0065FC;
}

.color-navigation-bar:hover {
    color: #0065FC;

}

/* main */
.container-main {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.inside-card-section-1-aside-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* section 1 */
.container-section-1 {
    background: #F2F2F2;
    border-radius: 20px;
    width: 58%;
    padding: 40px;
}

.card-accommodation-section-1 {
    position: relative;
    background: #FFFFFF;
    border-radius: 20px;
    border: 5px solid #FFFFFF;
    width: 30%;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card-accommodation-section-1:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.image-accommodation-section-1 {
    object-fit: cover;
    width: 100%;
    height: 140px;
    border-radius: 20px 20px 0px 0px;
}

.inside-card-section-1 {
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.title-section-aside {
    font-weight: 700;
    font-size: 17px;
    line-height: 25px;
    margin: 0px;
}

.subtitle-section-aside {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    margin: 0px;
}

.size-icon-star {
    font-size: 12px;
}

#link-section-1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}

#link-section-1:hover {
    color: #0065FC;
}

/* aside */
.container-aside {
    background: #F2F2F2;
    border-radius: 20px;
    width: 24%;
    padding: 30px;
}

.container-row-nowrap-flex {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container-aside-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 90%;
}


.card-accommodation-aside {
    position: relative;
    background: #FFFFFF;
    border-radius: 20px;
    border: 5px solid #FFFFFF;
    height: 140px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card-accommodation-aside:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.image-accommodation-aside {
    float: left;
    object-fit: cover;
    width: 40%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    margin-right: 15px;
}

.inside-card-aside {
    margin-left: 45%;
    height: 100%;
}

.position-icon-char-line {
    margin-top: 15px;
    font-size: 20px;
}

/* article */
.container-article {
    position: relative;
    width: 100%;
    margin-top: 40px;
}

.card-accommodation-article {
    position: relative;
    background: #FFFFFF;
    border-radius: 20px;
    width: 23%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card-accommodation-article:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.image-accommodation-article {
    object-fit: cover;
    width: 100%;
    height: 440px;
    border-radius: 20px 20px 0px 0px;
}

.inside-card-article {
    padding: 15px;
}

/* footer */
.container-footer {
    background: #F2F2F2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 40px;
    margin-top: 50px;
    padding-right: 300px;
}


.title-article {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

.subtitle-article {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
}

.subtitle-article:hover {
    color: #0065FC;
}